@import url(https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500);

A, A:link, A:visited, A:active {
  text-decoration: none;
  color: #b00b00;
}

body, html {
  background: #000;
  position: relative;
  margin: 0;
  padding: 0;
}
.popup_btn{
  font-family: monospace;
  font-size: 20px;
  position: absolute;
  padding-right: 10px;
  padding-left: 10px;
  right: 0;
  border:solid 3px #303030;
  color: #b8b8b8;
  background: #3e3e3e;

}
.chat{
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  color:transparent;
  background-attachment: fixed;
  position: absolute;
}
span#info {
  position: fixed;
}

canvas#source {
  display: none;

}

canvas#projection {
  display: block;
  width: 512px;
  margin: 0 auto;

}

input#ghost {
  position: fixed;
  width: 100%;
  color: transparent;
  background-color: transparent;
  border: 0;
  outline: none;
  border: none;
}
