@import url(https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500);

A, A:link, A:visited, A:active {
  text-decoration: none;
  color: #b00b00;
}

body, html {
  background: #000;
  min-height: 100%;
  font-size: 10px;
  background-attachment: fixed;
  color: white;
}

span#info {
  position: fixed;
}

canvas#source {
  display: none;
}

canvas#projection {
  margin-top: 5px;
  display: block;
  width: 512px;
  margin: 0 auto;
}

input#ghost {
  position: fixed;
  width: 100%;
  color: transparent;
  background-color: transparent;
  border: 0;
  outline: none;
  border: none;
}
.moving-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 500px;
  animation: move-left 5s linear infinite;
  display: none;
}

/* 아래에서 위로 튀어나오는 이미지 스타일 */
.popup-image {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 500px;
  animation: pop-up 2s ease-in-out;
  display: none;
}

/* 오른쪽에서 왼쪽으로 이동하는 애니메이션 */
@keyframes move-left {
  from {
    left: 100%;
  }
  to {
    left: -150px;
  }
}

/* 아래에서 위로 튀어나왔다가 들어가는 애니메이션 */
@keyframes pop-up {
  0%, 100% {
    bottom: -100px;
  }
  50% {
    bottom: 50px;
  }
}